/* colors apple: blue #4da2f9, magenta #fa57c1, violet #876afb, sunset #f65f74, gray #545454 */
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Nunito:300,400,700&display=swap');
/* General */
body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif!important;
}
/* Navigation */
nav {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
.navbar-brand {
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
/* Buttons */
.signin {
    background-color: #876afb!important;
    border: none!important;
}
.signin:hover {
    background-color: #4da2f9!important;
    border: none!important;
}
.signup {
    background-color: #4da2f9!important;
    border: none!important;
}
.signup:hover {
    background-color: #876afb!important;
    border: none!important;
}
.magenta {
    background-color: #fa57c1!important;
    border: none!important;
}
.magenta:hover {
    background-color: #876afb!important;
    border: none!important;
}
/* Hero Section */
.hero {
    background-image: url('../img/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h2 {
    font-size: 2.6em;
    letter-spacing: 2px;
}
/* Features section */
.features-pt2 {
    background-color: #545454;
    color: #ffffff;
}
.feature-box {
    padding: 2.2em 4em;
    border: 1px solid #cccccc;
    margin-bottom: 30px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.feature-box .features-content h3 {
    margin: 1.4em 0;
}


.feature-box:hover {
    border-color: #f65f74;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.2);
}
/* Team section */
.team-item {
    margin: 15px 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
.team-item .team-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
}

.team-item .team-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    width: 100%;
    border-radius: 0px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon {
    color: #fff;
    top: 45%;
    position: absolute;
    display: table-cell;
    margin: 0 auto;
    width: 100%;
}

.team-item .overlay-social-icon .social-icons {
    padding-left: 0;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li {
    display: inline-block;
    margin: 0 4px;
}

.team-item .overlay-social-icon .social-icons li a {
    letter-spacing: 0px;
    outline: 0 !important;
    text-decoration: none!important;
}

.team-item .overlay-social-icon .social-icons li a i {
    font-size: 20px;
    color: #fff;
    width: 36px;
    height: 36px;
    background: #4da2f9;
    display: block;
    border-radius: 36px;
    line-height: 36px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-facebook-filled {
    background: #3B5998;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-linkedin-filled {
    background: #0077b5;
}

.team-item .overlay-social-icon .social-icons li a:hover .lni-instagram-filled {
    background: #fb3958;
}

.team-item .info-text {
    padding: 15px 20px;
}

.team-item .info-text h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.team-item .info-text h3 a {
    color: #333;
}

.team-item .info-text h3 a:hover {
    color: #17C2D7;
}

.team-item .info-text p {
    margin: 0;
    color: #888;
}

.team-item:hover .team-overlay {
    opacity: 1;
}
/* Prices section */
#prices {
    text-align: center;
}

#prices .card{
    border-color: #cccccc; 
    padding-top: 4em;
}
#prices .card:hover{
    border-color: #f65f74;
    box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.15);
}
.pricing li{
    list-style: none;
    padding: 0.4em;
}
.pricing .plan-img img{
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: rgba(0,0,0,0.01);
    max-width: 100px;
    max-height: 100px;
    position: absolute;
    top:-3em;
    left: 37%;
}
.pricing .price{
    margin-bottom: 30px;
}
.pricing .price small{ 
    font-size: 15px;
}
.pricing .price h3 span{ 
    font-size: 15px; 
    vertical-align: top;
}
.pricing .price > span{ 
    font-size: 18px; 
    text-transform: uppercase;
}
  
/* Contact section */
.single-contact {
    padding: 3px 55px;
    position: relative;
}
  
.single-contact p {
    margin-left: 2em;
    padding-top: 0.8em;
}
  
.contact-icon {
    color: #4da2f9;
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.contact {
    background-color: #545454;
    color: #ffffff;
}
.contact-form input, .contact-form textarea, 
.contact-form input:active, .contact-form textarea:active 
 {
    background-color: #545454;
    border: 2px solid #ffffff;
}
.contact-form input::placeholder, .contact-form input::-webkit-placeholder {
    color: #ffffff !important;
}
.contact-form textarea::placeholder,
.contact-form textarea::-webkit-placeholder {
    color: #ffffff!important;
}
.contact-form textarea::-webkit-input-placeholder,
.contact-form textarea:-moz-placeholder,
.contact-form textarea::-moz-placeholder,
.contact-form textarea:-ms-input-placeholder
{
    color: #ffffff!important;
}
/* Footer */
footer {
    background-color: #545454;
    color: #ffffff;
}
/* Responsive */
@media (max-width:992px){
    #prices .card {
        padding-top: auto;
    }
    .pricing .plan-img img {
        position: relative;
        top:auto;
        left: auto;
    }
}
