/* colors apple: blue #4da2f9, magenta #fa57c1, violet #876afb, sunset #f65f74, gray #545454 */
@import url('https://fonts.googleapis.com/css?family=ABeeZee|Nunito:300,400,700&display=swap');
/* General */
body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif!important;
}
/* Navigation */
nav {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}
.navbar-brand {
    font-family: 'ABeeZee', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
/* Buttons */
.signin {
    background-color: #876afb!important;
    border: none!important;
}
.signin:hover {
    background-color: #4da2f9!important;
    border: none!important;
}
.signup {
    background-color: #4da2f9!important;
    border: none!important;
}
.signup:hover {
    background-color: #876afb!important;
    border: none!important;
}
.magenta {
    background-color: #fa57c1!important;
    border: none!important;
}
.magenta:hover {
    background-color: #876afb!important;
    border: none!important;
}
/* Hero Section */
.hero {
    background-image: url('../img/hero-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h2 {
    font-size: 2.6em;
    letter-spacing: 2px;
}
/* Features ection */
.features-pt2 {
    background-color: #545454;
    color: #ffffff;
}
/* Contact section */
.contact {
    background-color: #545454;
    color: #ffffff;
}
.contact-form input, .contact-form textarea, 
.contact-form input:active, .contact-form textarea:active 
.contact-form input:focus, .contact-form textarea:focus {
    background-color: #545454;
    border: 2px solid #ffffff;
}
.contact-form input::placeholder, .contact-form input::-webkit-placeholder {
    color: #ffffff !important;
}
.contact-form textarea::placeholder,
.contact-form textarea::-webkit-placeholder {
    color: #ffffff!important;
}
.contact-form textarea::-webkit-input-placeholder,
.contact-form textarea:-moz-placeholder,
.contact-form textarea::-moz-placeholder,
.contact-form textarea:-ms-input-placeholder
{
    color: #ffffff!important;
}
/* Footer */
footer {
    background-color: #545454;
    color: #ffffff;
}